@tailwind base;
@tailwind components;
@tailwind utilities;

.battery-level {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.battery-level::before {
    content: "🪫";
}

.battery-level::after {
    content: "🔋";
}