@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url(../assets/Design.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
